body

.abc1{
    width:1910px;height:950px;/>
}
.abc2{
    earth image
}
.abc3{
    color:white;
    position:absolute;
    top:30px;
    padding-left:50px;
}
.abc4{
    color:white;
    position:absolute;
    top:30px;
    padding-left:300px;
    
}